<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">conduit</a>


    <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" #tKeyword  [class.error]="tKeyword?.value.length > 5" (keyup.enter)="doSearch(tKeyword.value)">




    <button class="btn btn-sm btn-primary" (click)="doSearch(tKeyword.value)">
      <i class="ion-search"></i>
    </button>
    <span class="error" *ngIf="tKeyword?.value.length == 0">請輸入關鍵字</span>
  </div>
</nav>
